.adventure-details-container{
    display: flex;
    padding: 7rem 5rem;
}

.adventure-details-container>div{
    border: 1px solid #E5E5E5;
}

.adventure-details-flex-1{
    flex:2
}

.adventure-details-flex-1>img{
    width: 100%;
}

.adventure-details-flex-2{
    flex: 1;
}